body {
  padding-top: 50px;

  background: lightgrey;
}

.suggestions {
  display: none;

  .card .card-content p {
    margin: 1em 0;
  }
}

#editor {
  margin-bottom: 10px;

  p {

  }
}

#continue-writing {
  width: 100%
}

.uppertext {
  text-transform: uppercase;
}