body {
  background: lightgrey;
}

.navbar-fixed {
  margin-bottom: 2em;
}

.suggestions {
  display: none;

  .card .card-content p {
    margin: 1em 0;
  }
}

#editor {
  margin-bottom: 10px;

  p {

  }
}

#continue-writing {
  width: 100%
}

.uppertext {
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

#title {
  padding: 0.5em 0.25em;
}