<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        &nbsp;
        Asimov
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up">
            <i class="material-icons">leaderboard</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>