<div class="container">
  <div class="helper-text">
    First thing's first &mdash; name your story!
  </div>
  <h1 contentEditable="true" id="title" class="card-panel">
    My Awesome Story
  </h1>

  <div class="helper-text">
    When you're satisfied with a name, you can start writing below!
  </div>
  <div contentEditable="true" id="editor" class="card-panel">
    <p>
      Once upon a time there was a dragon named Dave that wanted to make friends.
    </p>
  </div>
</div>

<div class="container error-container">
  <div class="card-panel red lighten-4">
    <strong>Error contacting <span class='js-provider-name'>OpenAI</span>:</strong>
    <blockquote class="error-text"></blockquote>
  </div>
</div>

<div class="suggestions container-fluid">
  <div class="row">
    <div class="col l4">
      <div class="grey-text center uppertext">Suggestion #1</div>
      <div class="hoverable card suggestion-card">
        <div class="card-content suggestion" contentEditable="true">
        </div>
        <div class="card-action center teal use-suggestion">
          <a href="#" class="white-text">Use this suggestion</a>
        </div>
      </div>
    </div>
    <div class="col l4">
      <div class="grey-text center uppertext">Suggestion #2</div>
      <div class="hoverable card suggestion-card">
        <div class="card-content suggestion" contentEditable="true">
        </div>
        <div class="card-action center teal use-suggestion">
          <a href="#" class="white-text">Use this suggestion</a>
        </div>
      </div>
    </div>
    <div class="col l4">
      <div class="grey-text center uppertext">Suggestion #3</div>
      <div class="hoverable card suggestion-card">
        <div class="card-content suggestion" contentEditable="true">
        </div>
        <div class="card-action center teal use-suggestion">
          <a href="#" class="white-text">Use this suggestion</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="progress" id="progress-bar">
    <div class="indeterminate"></div>
  </div>
</div>

