<div class="container">
  <div class="helper-text">
    First thing's first &mdash; name your story!
  </div>
  <h1 contentEditable="true" id="title" class="card-panel">
    My Awesome Story
  </h1>

  <div class="helper-text">
    When you're satisfied with a name, you can start writing below!
  </div>
  <%= 
    react_component("AffluentTextInput", { 
      id: "editor", 
      defaultText: "Once upon a time there was a dragon named Dave that wanted to make friends, but"
    });
  %>
</div>
